Package: com.ps.watchinstallfix
Name: WatchInstallFix
Version: 1.0.0
Architecture: iphoneos-arm
Description: Fixes AppStore apps with extensionless Watch app not installable on incompatible devices.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 12.0), firmware (<< 16.0)
